<appSettings>
  <add key="ClientValidationEnabled" value="true"/>
  <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
  <add key="DefaultUserAlias" value="medvekoma"/>
  <add key="OptedOutUserIds" value="42136358@N00,50721244@N04,30811038@N08,23335209@N02,28879518@N00,24764277@N07,26427547@N00,77744959@N00" />
</appSettings>
