<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- 
  See http://nlog-project.org/wiki/Configuration_file 
  for information on customizing logging rules and outputs.
   -->
  <extensions>
    <add assembly="NLog.Extended" />
  </extensions>

  <variable name="logFileName" value="${basedir}/logs/${shortdate}.log"/>
  <variable name="layoutPrefix" value="${longdate} ${uppercase:${level:padding=-5}} ${logger:padding=-17}"/>
  <variable name="messageLayout" value="${layoutPrefix}: ${message}"/>
  <variable name="exceptionInfoLayout"  value="${newLine}   >> ${aspnet-request:serverVariable=Url}"/>
  <variable name="exceptionErrorLayout" value="${newLine}   >> ${aspnet-request:serverVariable=Url}${newLine}   >> ${exception:format=toString}"/>

  <targets>
    <target name="info" xsi:type="File" fileName="${logFileName}" layout="${messageLayout}${onexception:${exceptionInfoLayout}}" />
    <target name="error" xsi:type="File" fileName="${logFileName}" layout="${messageLayout}${onexception:${exceptionErrorLayout}}" />
  </targets>
  
  <rules>
    <logger name="*" minlevel="Info" maxlevel="Info" writeTo="info" />
    <logger name="*" minlevel="Warn" writeTo="error" />
  </rules>
</nlog>