<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- 
  See http://nlog-project.org/wiki/Configuration_file 
  for information on customizing logging rules and outputs.
   -->
  <extensions>
    <add assembly="NLog.Extended" />
  </extensions>

  <variable name="logFileName" value="${basedir}/logs/${shortdate}.log"/>
  <variable name="optoutLogFileName" value="${basedir}/logs/optout.log"/>
  <variable name="layoutPrefix" value="${longdate} ${uppercase:${level:padding=-5}} ${logger:padding=-17}"/>
  <variable name="messageLayout" value="${layoutPrefix}: ${message}"/>
  <variable name="exceptionShortLayout"  value="${newLine}   >> ${aspnet-request:serverVariable=Url}"/>
  <variable name="exceptionLongLayout" value="${exceptionShortLayout}${newLine}   >> ${aspnet-request:serverVariable=HTTP_USER_AGENT}${newLine}   >> ${exception:format=toString}"/>

  <targets>
    <target name="short" xsi:type="File" fileName="${logFileName}" layout="${messageLayout}${onexception:${exceptionShortLayout}}" />
    <target name="long" xsi:type="File" fileName="${logFileName}" layout="${messageLayout}${onexception:${exceptionLongLayout}}" />
    <target name="optout" xsi:type="File" fileName="${optoutLogFileName}" layout="${message}" />
  </targets>
  
  <rules>
    <logger name="optout" minlevel="Info" maxlevel="Info" writeTo="optout" final="true" />
    <logger name="*" minlevel="Info" maxlevel="Info" writeTo="long" />
    <logger name="*" minlevel="Error" writeTo="short" />
  </rules>
</nlog>