@model Portfotolio.Domain.AuthenticationInfo

@if (Model.IsAuthenticated)
{
    var userLink = Html.ActionLink(Model.UserName, "photos", "photo", new { id = Model.UserAlias }, null);
    var signOutLink = Html.ActionLink("Sign out?", "logout", "account");
    <div>@userLink, you are signed in. @signOutLink</div>
}
else
{
    var signInLink = Html.ActionLink("Sign in!", "login", "account");
    <div>Do you have a flickr account? @signInLink</div>
}
