body 
{
	background-color: #222222;
	color: #696969;
    font-family: Verdana, Helvetica, Sans-Serif;
    font-size: small;
    font-weight: bold;
}

.footer
{
	float: left;
	width: 100%;
}

.page
{
	margin: 20px;
}

a:link    { text-decoration: none; font-weight: bold; color: #C4C4C4; }
a:visited { text-decoration: none; font-weight: bold; color: #C4C4C4; }
a:hover   { text-decoration: none; font-weight: bold; color: #FFFFFF; }
a:active  { text-decoration: none; font-weight: bold; }
a:link img    { border: 2px solid #C4C4C4; }
a:visited img { border: 2px solid #C4C4C4; }
a:hover img   { border: 2px solid #FFFFFF; }

ul#menu
{
	display: inline;
    margin: 0;
    padding: 0px;
}

ul#menu li
{
	display: inline;
    padding: 1px 20px 1px 0px;
}

.photoFrame,
.nextPage
{
	width:300px;
	height:300px;
	float:left;
	display: table; 
	overflow: hidden;
}

.middleFrame
{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.innerFrame
{
}

.nextPageLoading
{
	display: none;
}

#hostingMessage
{
	text-align: right;
}

#creditsMessage
{
	text-align: right;
}

#authenticationLink
{
    text-align: right;
}

.listItem
{
    display:block;
    float:left;
    text-align:center;
    width: 200px;
    height: 150px;
}

a:link.highlight { color: #ff8c00; }
a:visited.highlight { color: #ff8c00; }
a:hover.highlight { color: #ffaa00; }

a:link .highlight { color: #ff8c00; }
a:visited .highlight { color: #ff8c00; }
a:hover .highlight { color: #ffaa00; }

.errorMessage
{
    color: #ff8c00;
    font-size: larger;
    font-weight: bold;
}

span#main
{
    padding: 20px;
    display: block;
}

div#homeDiv
{
	text-align: center;
}

input#SearchText
{
	width: 50%;
}
