@using Portfotolio.Site.Helpers

@model Portfotolio.Site.Models.ConfigurationModel

<section id="optout">
    @if(Model.IsOptedOut)
    {
        <text>
            <span class="no">None of your pictures are currently shown in this site.</span> Your landing page displays an error message,
            and your pictures are filtered out from all streams.
        </text>
    }
    else
    {
        <text>
            <span class="yes">Your pictures are visible on this site</span>, depending on your flickr settings.
        </text>
    }
    You can change this setting below.
    <p></p>
    @using (Html.BeginForm())
    {
        <label>
            @Html.RadioButtonFor(model => model.IsOptedOut, true)
            <span class='no'>Hide</span> me and my photos completely
        </label>
        <br/>
        <label>
            @Html.RadioButtonFor(model => model.IsOptedOut, false)
            <span class="yes">Show</span> my public photos based on my flickr settings
        </label>
        <p/>
        <input type="submit" value="Save"/>
    }
</section>   

