<div>
    In order to change your settings, we'd like to verify that you own the flickr account
    you want to set up.
    <br />
    Please choose one of the following options:
    <ul>
        <li>Self service: Please @Html.ActionLink("log in", "login", "account") with your flickr
            account. You will be redirected to flickr to provide your credentials, then you
            will be asked to authorize portfotolio.net. This process is controlled by flickr,
            we don't get your password. You can always revoke the authorization later, this
            step is only needed for verification purposes. After you are authenticated, you
            can opt-out or opt-in freely from portfotolio.net</li>
        <li>Customer service: If for any reason you don't wish to authorize portfotolio.net,
            please <a href="http://www.flickr.com/mail/write/?to=27725019@N00">send us a flickr
                mail</a>. We will process your opt-out request manually in a reasonable time.</li>
    </ul>
</div>
