<div>
    In order to change your settings, you need to be authenticated.
    <br/>
    Please @Html.ActionLink("log in", "login", "account") with your flickr account. You will be redirected to
    flickr to provide your credentials. 
</div>
