@model ListItems
@using Portfotolio.Domain
@using Portfotolio.Site4.Extensions

<ul id="groups">
@foreach (var item in Model.Items)
{
    <li>
        <a href='@item.ItemUrl' title='@item.Name'>@item.Name</a>
    </li>
}
</ul>