<nav>
    <a href="javascript:void();" onclick="Medvekoma.Portfotolio.ShowStatisticsByLabel('Model')">Camera</a> | 
    <a href="javascript:void();" onclick="Medvekoma.Portfotolio.ShowStatisticsByLabel('Lens')">Lens</a> | 
    <a href="javascript:void();" onclick="Medvekoma.Portfotolio.ShowStatisticsByLabel('Exposure')">Exposure</a> |
    <a href="javascript:void();" onclick="Medvekoma.Portfotolio.ShowStatisticsByLabel('Aperture')">Aperture</a> |
    <a href="javascript:void();" onclick="Medvekoma.Portfotolio.ShowStatisticsByLabel('Focal Length')">Focal Length</a>
</nav>

<div id="stats" style="display: none; height: 400px; border-width: 1px;">
    <img id="loading" alt="still loading..." src="~/Content/loading.gif"/>
    <div id="content"></div>
</div>

<script>
    if (typeof Medvekoma == "undefined") Medvekoma = {};
    if (typeof Medvekoma.Portfotolio == "undefined") Medvekoma.Portfotolio = {};

    Medvekoma.Portfotolio.ShowStatisticsByLabel = function (label) {
        $("#stats").show("slow");
        $("#loading").show();
        var options = {
            url: $(location).attr('href') + "?label=" + label,
            context: document.body,
            success: function (result) {
                $("#loading").hide();
                $("#content").html(result);
            }
        };
        $.ajax(options);
    };
</script>
