<nav>
<a href="#" onclick="">Camera</a><br/>
<a href="#" onclick="">Lens</a><br/>
<a href="#" onclick="">Aperture</a><br/>
<a href="#" onclick="">Exposure</a><br/>
<a href="#" onclick="">Focal Length</a><br/>
</nav>
