@using Portfotolio.Domain.Persistency
@if (ViewData.ContainsKey(DataKeys.DisplayLicensingInfoKey))
{
    <div id="licensing-info" style="float: left">
        <a href="@Url.Action("licensing", "settings")" title="licensing" class="highlight">Do you miss your pictures?</a>
    </div>
}
