body
{
    background-color: #222222;
    color: #696969;
    font-family: Trebuchet MS, sans-serif;
    font-size: small;
    margin: 30px;
    line-height: normal;
    letter-spacing: 0.1em;
}

h1
{
    font-size: 2em;
    margin: 10px 0;
    letter-spacing: 0.2em;
}

h2
{
    font-size: 1.4em;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 5px;
    text-decoration: underline;
}

ul
{
    list-style-type: square;
    margin-left: 3em;
}

ol
{
    list-style-type: decimal;
    margin-left: 3em;
}

li
{
    display: list-item;
    margin: 2px 0 5px 0;
}

p
{
    margin-bottom: 5px;
}

footer
{
    clear: both;
}

.footer
{
    float: left;
    width: 100%;
}

.page
{
    margin: 20px;
}

a:link
{
    text-decoration: none;
    font-weight: bold;
    color: #C4C4C4;
}

a:visited
{
    text-decoration: none;
    font-weight: bold;
    color: #C4C4C4;
}

a:hover
{
    text-decoration: none;
    font-weight: bold;
    color: #FFFFFF;
}

a:active
{
    text-decoration: none;
    font-weight: bold;
}

a:link img
{
    border: 2px solid #C4C4C4;
}

a:visited img
{
    border: 2px solid #C4C4C4;
}

a:hover img
{
    border: 2px solid #FFFFFF;
}

#menucontainer
{
    margin-top: 20px;
}

ul.menu
{
    display: inline;
    margin: 0;
    padding: 0px;
}

ul.disabledMenu
{
    cursor: default;
    font-weight: bold;
}

ul.menu li
{
    display: inline;
    padding: 1px 20px 1px 0px;
    margin: 0;
}

.photoFrame,
.nextPage
{
    width: 350px;
    height: 350px;
    float: left;
    display: table;
    overflow: hidden;
}

.middleFrame
{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.nextPageLoading
{
    display: none;
}

#hostingMessage
{
    text-align: right;
}

#creditsMessage
{
    text-align: right;
}

#authenticationLink
{
    text-align: right;
}

.listItem
{
    display: block;
    float: left;
    text-align: center;
    width: 200px;
    height: 150px;
}

.highlight
{
    color: #ff8c00;
}

a:link.highlight
{
    color: #ff8c00;
}

a:visited.highlight
{
    color: #ff8c00;
}

a:hover.highlight
{
    color: #ffa500;
}

a:link .highlight
{
    color: #ff8c00;
}

a:visited .highlight
{
    color: #ff8c00;
}

a:hover .highlight
{
    color: #ffa500;
}

.errorMessage
{
    color: #a9a9a9;
    font-size: larger;
    font-weight: bold;
    margin: 50px 0;
}

#main
{
    padding: 20px;
    display: block;
}

div#homeDiv
{
    text-align: center;
}

input#SearchText
{
    width: 50%;
}

.licensing-optin
{
    color: green;
}

.licensing-optout
{
    color: red;
}

.licensing-default
{
    color: yellow;
}

.slide
{
    position: relative;
    float: left;
}

.photo-frame
{
    position: absolute;
    display: block;
}

.photo-link
{
    background: url('') no-repeat scroll center center transparent;
    display: block;
    border: 3px solid white;
}

.title-frame
{
    position: absolute;
    text-align: center;
    width: 100%;
    overflow: hidden;
    color: whitesmoke;
}

.exif-frame
{
    position: absolute;
    text-align: center;
    width: 100%;
    overflow: hidden;
    color: white;
}

.header-icon
{
    border: none!important;
    height: 44px;
    float: right;
}

.content-icon
{
    border: none!important;
    height: 44px;
}

.standout
{
    font-weight: bold;
}

.copyright
{
    position: absolute;
    font-size: 40px;
    font-weight: bold;
    font-family: sans-serif;
}

.photoFrame .middleFrame .innerFrame .NumberOfPhotos 
{
    font-size: 10px;
}
