body 
{
	background-color: #222222;
	color: #696969;
    font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
    font-size: small;
    font-weight: bold;
    margin: 30px;
}

h1 {
    font-size: 2em;
    margin: 10px 0;
}

h2 {
    font-size: 1.4em;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 5px;
    letter-spacing: 0.2em;
    text-decoration: underline;
}

ul {
    list-style-type: square;
    margin-left: 30px;
}

li {
    display: list-item;
    margin: 10px 0;
}

footer {
    clear: both;
}

.footer
{
	float: left;
	width: 100%;
}

.page
{
	margin: 20px;
}

a:link    { text-decoration: none; font-weight: bold; color: #C4C4C4; }
a:visited { text-decoration: none; font-weight: bold; color: #C4C4C4; }
a:hover   { text-decoration: none; font-weight: bold; color: #FFFFFF; }
a:active  { text-decoration: none; font-weight: bold; }
a:link img    { border: 2px solid #C4C4C4; }
a:visited img { border: 2px solid #C4C4C4; }
a:hover img   { border: 2px solid #FFFFFF; }

#menucontainer {
        margin-top: 20px;
}

ul#menu
{
	display: inline;
    margin: 0;
    padding: 0px;
}

ul#menu li
{
	display: inline;
    padding: 1px 20px 1px 0px;
    margin: 0;
}

.photoFrame,
.nextPage
{
	width:300px;
	height:300px;
	float:left;
	display: table; 
	overflow: hidden;
}

.middleFrame
{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.innerFrame
{
}

.nextPageLoading
{
	display: none;
}

#hostingMessage
{
	text-align: right;
}

#creditsMessage
{
	text-align: right;
}

#authenticationLink
{
    text-align: right;
}

.listItem
{
    display:block;
    float:left;
    text-align:center;
    width: 200px;
    height: 150px;
}

.highlight { color: #ff8c00; }
a:link.highlight { color: #ff8c00; }
a:visited.highlight { color: #ff8c00; }
a:hover.highlight { color: #ff0000; }

a:link .highlight { color: #ff8c00; }
a:visited .highlight { color: #ff8c00; }
a:hover .highlight { color: #ff0000; }

.errorMessage
{
    color: #ff8c00;
    font-size: larger;
    font-weight: bold;
}

#main
{
    padding: 20px;
    display: block;
}

div#homeDiv
{
	text-align: center;
}

input#SearchText
{
	width: 50%;
}

.yes {
    color: green;
}

.no {
    color: red;
}

.slide {
    position: relative;
    float: left;
    width: 330px;
    height: 330px;
}

.photo-frame {
    position: absolute; 
    display: block; 
}

.photo-link {
    background: url('') no-repeat scroll center center transparent;
    display: block;
    border: 5px solid white; 
}

.title-frame {
    position: absolute; 
    text-align: center;
    width: 100%;
    overflow: hidden;
}

.title-text {
}