<div>
    <p>
        <div class="highlight">
            Portfotolio by default only displays public pictures licensed with one of the Creative
            Commons licenses.</div>
        <div>
            On this page, the authors can fine-tune how their photos appear. There are three
            choices:
            <ul>
                <li>Display all public photos</li>
                <li>Keep displaying only public creative common photos</li>
                <li>Hide all photos and information completely</li>
            </ul>
        </div>
    </p>
    <p>
        For changing your settings, you need to @Html.ActionLink("authorize portfotolio with your flickr account", "login", "account").
    </p>
    <p>
        This process is <a href="http://www.flickr.com/help/website/#182">controlled by flickr</a>,
        we only receive your user name and id. We won't get access to your password, private
        pictures, or any other sensitive information. Once you are authorized, you will
        be able to freely set the visibility of your pictures on this site. You can revoke
        the permissions given on your <a href="http://www.flickr.com/account/sharing/">flickr
            sharing page</a> after changing your settings, they will be kept.
    </p>
</div>
