@using Portfotolio.Domain.Configuration
@model Portfotolio.Site.Services.Models.ConfigurationModel

<section id="optout">
    @switch(Model.UserState)
    {
        case UserState.Optout:
            <text>
                <span class="author-optout">None of your pictures are currently shown in this site.</span> 
                Your landing page displays an error message, and your pictures are filtered out from all streams.
            </text>
            break;
        case UserState.None:
            <text>
                <span class="author-none">Only your Creative Commons licensed public photos are visible on this site</span>, 
                depending on your flickr settings.
            </text>
            break;
        case UserState.Optin:
            <text>
                <span class="author-optin">All your public pictures are visible on this site</span>, 
                depending on your flickr settings.
            </text>
            break;
    }
    <div>
    You can change this setting below.
    </div>
    <p></p>
    @using (Html.BeginForm())
    {
        <label>
            @Html.RadioButtonFor(model => model.UserState, UserState.Optout)
            <span class='author-optout'>None of my pictures</span> should be visible on this site, hide me completely!
        </label>
        <br/>
        <label>
            @Html.RadioButtonFor(model => model.UserState, UserState.None)
            <span class="author-none">Creative Commons</span> licensed public photos are allowed on this site, based on my flickr settings.
        </label>
        <br/>
        <label>
            @Html.RadioButtonFor(model => model.UserState, UserState.Optin)
            <span class="author-optin">All my public photos</span> can be displayed, based on my flickr settings.
        </label>
        <p/>
        <p/>
        <input type="submit" value="Save"/>
    }
</section>   

