<div>
    <p>
        <span class="highlight">We are sorry to see you go and we will miss your pictures.</span>
        However, we also appreciate your wish to control where your pictures appear, so
        we want to make this process as smooth and quick as possible.
    </p>
    <p>
        The only thing we need is your flickr user id. Please provide it with one of the
        following options:
    </p>
    <ul>
        <li>@Html.ActionLink("Authorize portfotolio with your flickr account", "login", "account").
            This process is <a href="http://www.flickr.com/help/website/#182">controlled by flickr</a>,
            we only receive your user name and id. Don't worry about private pictures, they
            are only available to you and only as long as you are authenticated. Once you are
            authorized, you will be able to freely hide or show your pictures from this site.
            You can revoke the permissions given on your <a href="http://www.flickr.com/account/sharing/">
                flickr sharing page</a> after you are opted-out.</li>
        <li><a href="http://www.flickr.com/mail/write/?to=27725019@N00">Send us a flickr mail</a>
            indicating that you want to opt out. We will process your opt-out request manually
            in a reasonable time.</li>
    </ul>
</div>
