<div>
    In order to change your settings, we'd like to verify that you own the flickr account
    you want opt out. We offer you two options to do this.
    <p />
    Please choose from the options below:
    <ol>
        <li><span class="highlight">Self service (quickest):</span> Log in to your flickr account,
            and authorize portfotolio.net with read-only access to your photos. This process
            is controlled by flickr, we don't get your credentials. You can always revoke the
            authorization later, this step is only needed for verification purposes. Once you
            are authorized, you will be able to freely hide or show your pictures from this
            site.
            <br />
            Please @Html.ActionLink("log in", "login", "account")
            with your flickr account. </li>
        <li><span class="highlight">Customer service:</span> If for any reason you don't wish
            to authorize portfotolio.net, please <a href="http://www.flickr.com/mail/write/?to=27725019@N00">
                send us a flickr mail</a> indicating that you want to opt out. We will process
            your opt-out request manually in a reasonable time.</li>
    </ol>
</div>
