@{
    ViewBag.Title = "About";
}
<div>
    <h2>
        What is this site?</h2>
    <ul>
        <li>This site is an alternative <a href="http://flickr.com" title="flickr">flickr</a>
            viewer, aiming to help photographers showcase their portfolio and find inspiration
            in the works of other photographers.</li>
        <li>It also features a recommendation engine, which - based on what one marks as favorite
            - suggests other photos of interest. One must be authenticated to access his/her recommendations. </li>
        <li>The application is designed to increase the visibility of the original flickr site.
            Photos are only shown in their small size, and they all link back to the original
            flickr page of the photo, where users can contact the photographer, comment on photos,
            etc.</li>
        <li>The site is developed as an <a href="https://github.com/medvekoma/portfotolio"
            title="github">open source project</a> by @Html.ActionLink("medvekoma", "photos", "photo", new { id = "medvekoma" }, null).
            Feel free to <a href="http://www.flickr.com/mail/write/?to=27725019@N00">contact me</a>
            with any of your questions, comments or concerns. </li>
    </ul>
    <h2>
        Copyright information</h2>
    <ul>
        <li>All images shown on this site are copyrighted by their respective owners. The image
            owners can be contacted directly through their flickr page by clicking on any image.</li>
        <li>The site does not store images and personal data, and it does not reference any
            user or photo specifically. It is merely a viewer application: it reflects whatever
            flickr provides it. It is like a different skin for a photostream. </li>
        <li>The site uses a technology called <a href="http://en.wikipedia.org/wiki/Inline_linking"
            title="inline linking">inline linking</a> to show the images stored on flickr's
            servers. According to international law, <a href="http://en.wikipedia.org/wiki/Inline_linking#Copyright_law_issues_that_inline_linking_raises"
                title="copyright issues">this is not a copyright infringement</a>. Nevertheless,
            we are ready to remove your pictures (see below how).</li>
    </ul>
    <h2>
        Why can I see my photos here?</h2>
    <ul>
        <li>If you have public photos on flickr, they can appear on this site. As an alternative
            flickr viewer, it reflects whatever flickr provides it, changes on flickr are automatically
            reflected on this site.</li>
        <li>The site uses the official flickr API for querying the pictures - just like hundreds
            of other third party applications do. This application is fully compliant with the
            terms of use of flickr API: all images link back to the original flickr page - so
            there can be no misunderstanding about the image origin, author or copyright. You
            can also read the official Flickr FAQ about this <a href="http://www.flickr.com/help/website/#180"
                title="FAQ">here</a> and <a href="http://www.flickr.com/help/website/#181" title="FAQ2">
                    here</a>. </li>
        <li>You can opt out from flickr API searches by checking both the second and third checkbox
            on your <a href="http://www.flickr.com/account/prefs/optout/?from=privacy">flickr privacy
                page</a>. This will make your profile page unavailable on all sites based on
            flickr API (including portfotolio). This is a recommended step if you are concerned
            about your privacy, as it will hide you from most applications based on flickr API.
            However, because of the specifics of flickr API, some of your pictures might still
            appear in groups, and other people's favorite lists.</li>
    </ul>
    <h2>
        Still, I don't want any of my photos on this site!</h2>
    <ul>
        <li>@Html.ActionLink("Please go to our opt-out page", "optout", "settings", null, new { rel = "nofollow" })
            and follow the instructions.</li>
    </ul>
</div>
