<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- 
  See http://nlog-project.org/wiki/Configuration_file 
  for information on customizing logging rules and outputs.
   -->
  <extensions>
    <add assembly="NLog.Extended" />
  </extensions>

  <variable name="logFileName" value="${basedir}/logs/${shortdate}.log"/>
  <variable name="optoutLogFileName" value="${basedir}/logs/optout.log"/>
  <variable name="layoutPrefix" value="${longdate} ${uppercase:${level:padding=-5}} ${logger:padding=-17}"/>
  <variable name="messageLayout" value="${layoutPrefix}: ${message}"/>
  <variable name="url" value="${aspnet-request:serverVariable=URL}?${aspnet-request:serverVariable=QUERY_STRING}"/>
  <variable name="browser" value="${aspnet-request:serverVariable=HTTP_USER_AGENT}"/>
  <variable name="referer" value="${aspnet-request:serverVariable=HTTP_REFERER}"/>
  <variable name="exceptionShortLayout"  value="(${exception:format=shortType})${newLine}   >> ${url}${newLine}   >> ${browser}${newLine}   >> ${referer}"/>
  <variable name="exceptionLongLayout" value="${exceptionShortLayout}${newLine}   >> ${exception:format=tostring}"/>

  <targets>
    <target name="shortTarget" xsi:type="File" fileName="${logFileName}" layout="${messageLayout} ${onexception:${exceptionShortLayout}}" />
    <target name="longTarget" xsi:type="File" fileName="${logFileName}" layout="${messageLayout} ${onexception:${exceptionLongLayout}}" />
    <target name="optoutTarget" xsi:type="File" fileName="${optoutLogFileName}" layout="${messageLayout}" />
  </targets>
  
  <rules>
    <logger name="optout" minlevel="Info" maxlevel="Info" writeTo="optoutTarget" />
    <logger name="*" minlevel="Info" maxlevel="Info" writeTo="longTarget" />
    <logger name="*" minlevel="Error" writeTo="shortTarget" />
  </rules>
</nlog>