<appSettings>
  <add key="IsOAuthEnabled" value="false"/>
  <add key="PhotoPageSize" value="10"/>
  <add key="ContactsPageSize" value="100"/>
  <add key="AdministratorAliases" value="medvekoma,serkansozer"/> <!-- comma separated list -->
  <add key="ContactUsLink" value="http://www.flickr.com/mail/write/?to=27725019@N00"/>
</appSettings>
