<appSettings>
    <add key="IsOAuthEnabled" value="false"/>
    <add key="PhotoPageSize" value="30"/>
    <add key="ContactsPageSize" value="100"/>
    <add key="AdministratorAliases" value="medvekoma"/>
    <!-- comma separated list -->
    <add key="OmniViewerAliases" value="*"/>
    <!-- comma separated list -->
    <add key="ContactUsLink" value="http://www.flickr.com/mail/write/?to=27725019@N00"/>
</appSettings>
