<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<configSections>
		<section name="flickrNet" type="FlickrNet.FlickrConfigurationManager,FlickrNet" />
		<section name="glimpse" type="Glimpse.Core.Configuration.Section, Glimpse.Core" />
	</configSections>
	<appSettings file="appSettings.config">
		<add key="webpages:Version" value="2.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="PreserveLoginUrl" value="true" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
	</appSettings>
	<!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
	<system.web>
		<compilation debug="true" targetFramework="4.5" />
		<sessionState mode="InProc" cookieless="false" timeout="20" />
		<customErrors mode="On" />
		<authentication mode="Forms" />
		<pages controlRenderingCompatibilityVersion="4.0">
			<namespaces>
				<add namespace="System.Web.Helpers" />
				<add namespace="System.Web.Mvc" />
				<add namespace="System.Web.Mvc.Ajax" />
				<add namespace="System.Web.Mvc.Html" />
				<add namespace="System.Web.Routing" />
				<add namespace="System.Web.WebPages" />
				<add namespace="Portfotolio.Site4" />
			</namespaces>
		</pages>

		<!-- Glimpse: This can be commented in to add additional data to the Trace tab when using WebForms
        <trace writeToDiagnosticsTrace="true" enabled="true" pageOutput="false"/> -->
		<httpModules>
			<add name="Glimpse" type="Glimpse.AspNet.HttpModule, Glimpse.AspNet" />
		</httpModules>
		<httpHandlers>
			<add path="glimpse.axd" verb="GET" type="Glimpse.AspNet.HttpHandler, Glimpse.AspNet" />
		</httpHandlers>
	</system.web>
	<system.webServer>
		<httpErrors errorMode="DetailedLocalOnly" existingResponse="PassThrough" />
		<modules runAllManagedModulesForAllRequests="true">
			<add name="Glimpse" type="Glimpse.AspNet.HttpModule, Glimpse.AspNet" preCondition="integratedMode" />
		</modules>
		<rewrite>
			<rules>
				<rule name="Strip eurl.axd">
					<match url="^(.*)eurl\.axd/[a-f0-9]{32}(.*)$" />
					<action type="Redirect" url="{R:1}{R:2}" />
				</rule>
				<rule name="Strip www">
					<match url=".*" />
					<conditions>
						<add input="{HTTP_HOST}" pattern="^(www\.)(.*)$" />
					</conditions>
					<action type="Redirect" url="http://{C:2}/{R:0}" />
				</rule>
			</rules>
		</rewrite>
		<handlers>
			<add name="Glimpse" path="glimpse.axd" verb="GET" type="Glimpse.AspNet.HttpHandler, Glimpse.AspNet" preCondition="integratedMode" />
		</handlers>

		<validation validateIntegratedModeConfiguration="false" />
	</system.webServer>
	<flickrNet configSource="flickr.api.debug.config" />
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.2.13.0" newVersion="2.2.13.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Castle.Core" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<glimpse defaultRuntimePolicy="On" endpointBaseUri="~/Glimpse.axd">
		<!-- If you are having issues with Glimpse, please include this. It will help us figure out whats going on. 
		<logging level="Trace" />-->
		<runtimePolicies>
			<ignoredTypes>
				<add type="Glimpse.AspNet.Policy.LocalPolicy, Glimpse.AspNet" />
			</ignoredTypes>
		</runtimePolicies>
	</glimpse>
</configuration>