@{
    ViewBag.Title = "Display";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    On this page you can hide yourself completely from this application. If you do, 
    your images will be filtered out from all streams, and your personal landing page
    will display an error message along with a 404 error code. You can always undo this
    action here.
    
    <p>
        @Html.Action("OptOut")
    </p>
</p>
