<?xml version="1.0"?>
<configuration>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="FlickrNet" publicKeyToken="2491DF59EFA5D132" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-3.4.0.0" newVersion="3.4.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
